.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 20px 0;
  background-color: #fff;

  &__logo {
    margin-right: 24px;
  }

  &__navbar {
    gap: 40px;
  }

  &__form {
    position: relative;
    max-width: 440px;

    &__text {
      width: 100%;
      padding: 12px 16px;
      padding-right: 250px;
      border-radius: 5px;
      border: 1px solid #cccccc;
    }

    &__img {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
    }
  }

  &__list {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  &__link {
    color: $text-cl;
  }

  &__login {
    @include global-btn;
  }

  &__signup {
    @include global-btn;
    background: $primary-cl;
    border-color: $primary-cl;
    color: #fff;

    &:hover {
      background: transparent;
      border-color: $text-cl;
      color: $text-cl;
    }
  }

  &__menu {
    display: none;
    background-color: transparent;
  }
}

@media screen and (max-width: 1400px) {
  .header__form {
    display: none;
  }

  .header__container {
    justify-content: space-between;
  }
}

@media (max-width: 870px) {
  .header {
    &__list {
      position: fixed;
      top: 0;
      left: -100%;
      background-color: white;
      width: 60%;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 10px gray;
      transition: 0.4s;
      z-index: 9999;
    }

    &__menu {
      display: flex;
    }

    &__show-list {
      left: 0;
    }
  }
}
